@import "tailwindcss";

@theme {
  --color-primary: #6ec9f7;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101c22;
  --font-display: "Space Grotesk";
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
  }
}